<footer class="footer1">
  <nav class="menu1">
    <div class="first">
      <ul>
        <li>
          <a href="https://adalab.es/" target="_blank">articles</a>
        </li>
        <li><a href="https://adalab.es/" target="_blank">books</a></li>
        <li><a href="https://adalab.es/" target="_blank">events</a></li>
        <li><a href="https://adalab.es/" target="_blank">reasons</a></li>
        <li><a href="https://adalab.es/" target="_blank">tips</a></li>
      </ul>
    </div>
  </nav>
  <nav class="menu2">
    <div class="second">
      <ul>
        <li><a href="https://adalab.es/" target="_blank">twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank">instagram</a></li>
        <li>
          <a href="https://adalab.es/" target="_blank">mastodon.social</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="cowe">
    <section class="copy">&copy;2021</section>
    <section class="we">we <i class="fas fa-heart"></i> components</section>
  </div>
</footer>
