<main>
  <div class="box_white">
    <small class="small">Insomnia tips</small>
    <h2>Looking Through A Window</h2>
    <p>
      Donec accumsan, nulla ut volutpat porttitor, aquam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <section class="go"><a href="https://adalab.es/">Go</a></section>
  </div>

  <div class="box_blue">
    <h2 class="reasons">3 Reasons To Purchase</h2>
    
    <section class="box1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, concesecteur.</p>
    </section>

    <section class="box2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </section>

    <section class="box3">
    <h3 ">Morbi dictum</h3>
    <p 
    >Aliquam in dolor et dolor tincidunt.</p>
  </section>

    <a class="more" href="https://adalab.es/">More reasons</a>

    <a class="arrow" href="">
      <img src="./assets/images/ico-arrow.svg" alt="arrow_bottom" /></a>
  </div>
</main>