<main>
  <div class="box_white">
    <small class="small">Insomnia tips</small>
    <h2>Looking Through A Window</h2>
    <p>
      Donec accumsan, nulla ut volutpat porttitor, aquam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <section class="go"><a href="https://adalab.es/">Go</a></section>
  </div>

  <div class="box_blue">
    <section class="reasons">
      <h2>3 Reasons To Purchase</h2>
    </section>

    <h3 class="box1">Ut sed metus</h3>
    <p class="box2">Lorem ipsum dolor sit amet, concesecteur.</p>


    <h3 class="box3">Curabitur ac erat</h3>
    <p class="box4">Mauris mattis urna quis lorem molestie.</p>


    <h3 class="box5">Morbi dictum</h3>
    <p class="box6">Aliquam in dolor et dolor tincidunt.</p>

    <section class="box7">
      <a href="https://adalab.es/">More reasons</a>

      <section class="arrow">
        <a href="">
          <img src="./assets/images/ico-arrow.svg" alt="arrow_bottom" /></a>
      </section>
  </div>
</main>