<main>
  <div class="box_white">
    <small class="small">Insomnia tips</small>
    <h2>Looking Through A Window</h2>
    <p>
      Donec accumsan, nulla ut volutpat porttitor, aquam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <section class="go"><a href="https://adalab.es/">Go</a></section>
  </div>

  <div class="box_blue">
    <section class="reasons">
      <h2>3 Reasons To Purchase</h2>
    </section>
    <section class="1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, concesecteur.</p>
    </section>
    <section class="2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </section>
    <section class="3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </section>
    <section class="more_reasons">
      <a href="https://adalab.es/">More reasons</a>
    </section>
    <section class="arrow">
      <a href="">
        <img src="./assets/images/ico-arrow.svg" alt="arrow_bottom"
      /></a>
    </section>
  </div>
</main>
