.footer1 {
  display: flex;
  background-color: #304268;
  width: 100%;

  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}
.menu1 {
  text-transform: uppercase;
  width: 73px;
  height: 150px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 124px;
  margin-right: 123px;
  line-height: 30px;
  font-size: 16px;
}

.menu2 {
  text-transform: uppercase;
  width: 147px;
  height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 87px;
  margin-right: 86px;
  line-height: 30px;
  font-size: 16px;
}

.copy {
  width: 77px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 121px;
  margin-right: 122px;
  line-height: 30px;
  font-size: 14px;
}
.we {
  height: 30px;
  margin-top: 0px;
  margin-bottom: 45px;

  line-height: 30px;
  font-size: 14px;
}
i {
  color: #f26002;
}
@media (min-width: 720px) {
  .footer1 {
    display: flex;
    flex-direction: row;

    background-color: #304268;
    width: 100%;
    height: 240px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: start;
  }
  .cowe {
    width: 33%;
  }
  .copy {
    background-color: sienna;

    height: 30px;
    margin-top: 45px;
    margin-bottom: 0px;

    line-height: 30px;
    font-size: 14px;
  }
  .we {
    background-color: pink;

    height: 30px;

    line-height: 30px;
    font-size: 14px;
  }
  .menu1 {
    background-color: red;
    text-transform: uppercase;

    height: 150px;
    margin-top: 45px;
    margin-bottom: 45px;

    line-height: 30px;
    font-size: 16px;
    width: 33%;
  }
  .menu2 {
    background-color: rgb(202, 197, 190);
    text-transform: uppercase;

    height: 90px;
    margin-top: 45px;
    margin-bottom: 105px;

    line-height: 30px;
    font-size: 16px;
    width: 33%;
  }
  i {
    font-size: 14px;
    line-height: 30px;
  }
}
