.box_white {
  height: 376px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  margin-left: 15px;
  margin-right: 15px;
}
.small {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #8ccbea;
  line-height: 30px;
  margin-top: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Roboto", sans-serif;
}
.look {
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: black;
  margin-bottom: 30px;
  line-height: 30px;
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: "Roboto Slab", serif;
}
.parraf {
  width: 100%;
  height: 120px;
  font-size: 18px;
  color: #4a4a4a;
  line-height: 30px;
  grid-column: 1/2;
  grid-row: 3/4;
  font-family: "Roboto", sans-serif;
}
.go {
  width: 76px;
  height: 45px;
  font-size: 20px;
  color: #f26002;
  background-color: white;
  margin-bottom: 45px;
  border: solid 2px;
  border-radius: 22.5px;
  grid-column: 1/2;
  grid-row: 4/5;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.go a {
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  color: #f26002;
}
.box_blue {
  display: grid;
  width: 100%;
  height: 624px;
  background-color: #eff9ff;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  text-align: center;
  place-items: center;
  padding: 30px;
  padding-bottom: 0;
}

.reasons {
  margin-bottom: 0;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 30px;
  grid-column: 1 /2;
  grid-row: 1/2;
}

.box1 {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  grid-column: 1 / 2;
  grid-row: 2/3;
}
.box2 {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  grid-column: 1/2;
  grid-row: 3/4;
}
.box3 {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  grid-column: 1 / 2;
  grid-row: 4/5;
}

.more {
  background-color: #f26002;
  width: 184px;
  height: 45px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-orientation: center;
  color: white;
  border-radius: 22.5px;
  line-height: 45px;
  grid-column: 1 /2;
  grid-row: 5/6;
}
.arrow {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  bottom: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow a {
  width: 20.6px;
  height: 24px;
}
@media (min-width: 720px) {
  .box_white {
    height: 330px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin-left: 39px;
    margin-right: 39px;
  }
  .small {
    width: 216px;
    height: 30px;
    font-size: 14px;
    color: #8ccbea;
    line-height: 30px;
    margin-top: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: "Roboto", sans-serif;
  }
  .look {
    font-size: 26px;
    color: black;
    margin-bottom: 30px;
    line-height: 45px;
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: "Roboto Slab", serif;
  }
  .parraf {
    font-size: 20px;
    height: 60px;
    color: #4a4a4a;
    line-height: 30px;
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: "Roboto", sans-serif;
  }
  .go {
    width: 91px;
    height: 45px;
    font-size: 20px;
    color: #f26002;
    background-color: white;
    margin-bottom: 60px;
    border: solid 2px;
    border-radius: 22.5px;
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 30px;
  }
  .go a {
    text-decoration: none;
    line-height: 45px;
    font-family: "Roboto", sans-serif;
  }

  .box_blue {
    display: grid;
    width: 100%;
    height: 397px;
    background-color: #eff9ff;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    place-items: center;
    padding: 30px;
    padding-bottom: 0;
  }
  p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  h3 {
    font-size: 24px;
    font-family: "Roboto Slab", serif;
  }
  .reasons {
    margin-bottom: 60px;
    font-family: "Roboto Slab", serif;
    font-size: 26px;

    line-height: 30px;
    grid-column: 1 /5;
    grid-row: 1/2;
  }
  .box1 {
    line-height: 30px;
    grid-column: 1 / 2;
    grid-row: 2/3;
  }
  .box2 {
    line-height: 30px;
    grid-column: 2/ 3;
    grid-row: 2/3;
  }
  .box3 {
    line-height: 30px;
    grid-column: 3 / 4;
    grid-row: 2/3;
  }

  .more {
    width: 184px;
    position: relative;
    bottom: -60px;
    text-decoration: none;

    text-orientation: center;
    color: white;
    border-radius: 22.5px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 45px;
    grid-column: 2 /3;
    grid-row: 3/4;
  }
  .arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    grid-column: 2 / 3;
    grid-row: 10/11;
    position: relative;
    bottom: -38px;
  }
  .arrow a {
    width: 20.6px;
    height: 24px;
    text-align: center;
  }
  @media (min-width: 1200px) {
    .box_white {
      height: 360px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      margin-left: 275px;
      margin-right: 275px;
    }
    .small {
      width: 360px;
      height: 30px;
      font-size: 16px;
      color: #8ccbea;
      line-height: 30px;
      margin-top: 30px;
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: "Roboto", sans-serif;
    }
    .look {
      width: 730px;
      height: 45px;
      font-size: 32px;
      color: black;
      margin-bottom: 30px;
      line-height: 45px;
      grid-column: 1/2;
      grid-row: 2/3;
      font-family: "Roboto Slab", serif;
    }
    .parraf {
      width: 730px;
      height: 60px;
      font-size: 20px;
      color: #4a4a4a;
      line-height: 30px;
      grid-column: 1/2;
      grid-row: 3/4;
      font-family: "Roboto", sans-serif;
    }
    .go {
      width: 160px;
      height: 45px;
      font-size: 20px;
      color: #f26002;
      background-color: white;
      margin-bottom: 60px;
      border: solid 2px;
      border-radius: 22.5px;
      grid-column: 1/2;
      grid-row: 4/5;
      font-family: "Roboto Mono", monospace;
    }
    .go a {
      text-decoration: none;
      line-height: 45px;
      font-family: "Roboto", sans-serif;
    }
    .box_blue {
      display: grid;
      width: 100%;
      height: 427px;
      background-color: #eff9ff;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto auto auto;
    }
    p {
      font-size: 20px;
    }
    h3 {
      font-size: 24px;
    }
    .reasons {
      margin-bottom: 0;
      font-family: "Roboto", sans-serif;
      line-height: 45px;
      grid-column: 1 /5;
      grid-row: 1/2;
    }
    .box1 {
      font-family: "Roboto", sans-serif;
      line-height: 30px;
      grid-column: 1 / 2;
      grid-row: 2/3;
    }
    .box2 {
      font-family: "Roboto", sans-serif;
      line-height: 30px;
      grid-column: 2/ 3;
      grid-row: 2/3;
    }
    .box3 {
      font-family: "Roboto", sans-serif;
      line-height: 30px;
      grid-column: 3 / 4;
      grid-row: 2/3;
    }
    .more {
      width: 255px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      position: relative;
      bottom: -60px;
      text-orientation: center;
      color: white;
      border-radius: 22.5px;

      line-height: 45px;
      grid-column: 2 /3;
      grid-row: 3/4;
    }
  }
}
